@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100&family=Mali:wght@300&family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100&family=Mali:wght@300&family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100&family=Mali:wght@300&family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Paytone+One&family=Piedra&family=Rubik+Glitch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tourney:wght@200&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Heebo";
  background-color: black;
  color: white;
  overflow-x: hidden;
}
body nav {
  background-color: black;
}
body nav ul {
  text-align: center;
}
body nav ul a {
  font-weight: 400;
  text-decoration: none;
  color: white;
  display: inline-block;
  margin: 24px;
}
body nav ul :hover {
  color: yellow;
}
body header .grid1 .picture {
  display: flex;
  justify-content: center;
  overflow: hidden;
  filter: brightness(60%);
}
body header .grid1 .picture #mv {
  width: 125%;
  height: 100vh;
}
body header .grid1 h1 {
  font-size: 32px;
  position: absolute;
  text-align: center;
  font-weight: 700;
  z-index: 1;
  width: 100%;
  margin: 48vh auto;
  letter-spacing: 8px;
  color: yellow;
  text-transform: uppercase;
}
body header .grid1 span {
  border-right: 0.05em solid;
  -webkit-animation: caret 1s steps(1) infinite;
          animation: caret 1s steps(1) infinite;
}
@-webkit-keyframes caret {
  50% {
    border-color: transparent;
  }
}
@keyframes caret {
  50% {
    border-color: transparent;
  }
}
body h1 {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin: 24px 0 16px 0;
}
body h2 {
  margin-top: 64px;
  position: relative;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-shadow: 2px 2px 10px black;
}
body .grid2 {
  background: linear-gradient(to bottom, rgba(51, 204, 255, 0) 0%, #5a5a5a 100%);
}
body .grid2 .box1, body .grid2 .box3 {
  text-align: center;
  overflow: hidden;
}
body .grid2 .box1 .rapper, body .grid2 .box3 .rapper {
  font-family: "Creepster";
}
body .grid2 .box1 .tangbad, body .grid2 .box3 .tangbad {
  font-family: "Piedra";
  font-weight: 100;
  letter-spacing: 4px;
}
body .grid2 .box1 a, body .grid2 .box3 a {
  font-family: "Niramit";
  font-size: 15px;
  width: 80%;
  margin: 8px auto;
  line-height: 24px;
  color: white;
  text-decoration: none;
}
body .grid2 .box1 a:hover, body .grid2 .box3 a:hover {
  color: yellow;
}
body .grid2 .box1 img, body .grid2 .box3 img {
  width: 90%;
  margin: 0 0 8px 0;
}
body .grid2 .box1 p, body .grid2 .box3 p {
  font-family: "Niramit";
  font-size: 14px;
  width: 80%;
  margin: 8px auto;
  line-height: 24px;
}
body .grid2 .box1 h3, body .grid2 .box3 h3 {
  margin: 8px 0 64px;
  color: white;
  filter: brightness(40%);
}
body section .line {
  width: 100%;
  height: 8px;
  background-color: white;
}
body section .title-photo {
  font-family: "Tourney";
  font-weight: 100;
  margin-bottom: 48px;
  text-shadow: 1px 1px 10px white;
}
body section .box2 {
  text-align: center;
}
body section .box2 a {
  font-size: 18px;
  color: white;
  font-weight: 700;
  display: inline-block;
  margin: 64px 0;
}
body section .box2 a:hover {
  color: yellow;
}
body section .box2 video {
  width: 100%;
}
body footer .item {
  font-weight: 200;
  font-family: "Heebo";
  text-align: center;
  padding: 16px;
  background-color: rgb(33, 33, 33);
}
body footer .item p {
  margin: 8px;
}
body footer .item a {
  color: white;
  text-decoration: none;
}
body footer .item a:hover {
  color: yellow;
}
body footer .item a i {
  margin: 8px;
  cursor: pointer;
}

.container {
  margin: auto;
  width: 90%;
  top: 50%;
  left: 50%;
  overflow: hidden;
  box-shadow: -1px 5px 15px black;
}

/*Area of images*/
.wrapper {
  width: 100%;
  display: flex;
  -webkit-animation: slide 16s infinite;
          animation: slide 16s infinite;
}

img {
  width: 100%;
}

/*Animation activated by keyframes*/
@-webkit-keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}
@media screen and (min-width: 1260px) {
  body a {
    font-size: 24px;
  }
  body header .grid1 h1 {
    font-size: 64px;
    letter-spacing: 24px;
    margin: 47vh 0;
  }
  body header .grid1 .picture #mv {
    width: 50%;
  }
  body section .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  body section .grid2 img {
    transform: translateY(0);
    transition: transform 0.5s;
  }
  body section .grid2 img:hover {
    transform: translateY(-35px);
  }
  body section .grid2 .box1, body section .grid2 .box3 {
    padding: 20vh 0;
    margin: 10vh 0;
  }
  body section .grid2 .box1 img, body section .grid2 .box3 img {
    width: 50%;
  }
  body section .title-photo {
    font-size: 128px;
    margin: 50vh 0 10vh 0;
  }
  body section .container {
    width: 50%;
  }
  body section .box2 a {
    margin: 32px 0 64px 0;
  }
  body section .box2 video {
    display: none;
  }
}
*, *:before, *:after {
  box-sizing: border-box;
}

label .menu {
  position: absolute;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background: #000000;
  border-radius: 50% 50% 50% 50%;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 0 #000000, 0 0 0 0 #000000;
  cursor: pointer;
}

label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: white;
  display: block;
  transform-origin: center;
  transition: 0.5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: white;
}

label .hamburger:before {
  top: -10px;
}

label .hamburger:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked + .menu {
  box-shadow: 0 0 0 100vw black, 0 0 0 100vh black;
  border-radius: 0;
}

label input:checked + .menu .hamburger {
  transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked + .menu .hamburger:before {
  transform: rotate(90deg);
  top: 0;
}

label input:checked + .menu + ul {
  opacity: 1;
}

label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.25s 0s ease-in-out;
}

label a {
  margin-bottom: 1.5em;
  display: block;
  color: #ffffff;
  text-decoration: none;
}
label a:hover {
  color: yellow;
}/*# sourceMappingURL=homepage.css.map */